<HeadLayout />
<DocsHeader @fieldGuideConfig={{this.fieldGuideConfig}} />

<div class="docs-viewer docs-flex docs-flex-1">
  <div class="md:docs-flex docs-w-full docs-flex-grow">

    <DocsViewer::XNav @tocs={{this.model}} @level={{1}} />

    {{outlet}}
  </div>
</div>